.App {
    position: relative;
    overflow-x: clip;
}

.App>:nth-child(1) {
    background-color: var(--black);
    position: relative;
}

.pink-gradient {
    position: absolute;
    width: 20rem;
    height: 20rem;
    background: rgba(166, 0, 80, 0.9);

    filter: blur(100px);
    /* border-radius: 100px; */
}